* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: gray;
}
.slider {
	width: 900px;
	height: 500px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	margin: auto;
	margin-top: 150px;
}

.slide {
	width: 900px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	animation-name: slide;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes slide {
 from {
  top: 0;
  left: 0;
 }
 12.5% {
  transform: translate(0px, 0px);
 }
 25% {
  transform: translate(-900px, 0);
 }
 36% {
  transform: translate(-900px, 500px);
 }
 37% {
  transform: translate(900px, 500px);
 }
 87.5% {
  transform: translate(900px, 0);
  
 }
 to {
  transform: (0px, 0px);
 }
}
.slide1 {
	background: url(img/a-morning-at-the-lake-by-carsten-meyer-rks-500px-scenery.jpg);
	animation-delay: 7.5s;
}
.slide2 {
	background: url(img/gastown-night-vancouver-bc-by-alexander-hill-500px-pictures-of-buildings.jpg);
	animation-delay: 5s;
}
.slide3 {
	background: url(img/rocky-landscape-gorgeous-nature-by-ac2adc290subha-amp-sebastianac2adc290-500px.jpg);
	animation-delay: 2.5s;
}
.slide4 {
	background: url(img/stock-photo-134534831.jpg);
	animation-delay: 0s;
}
